<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>879059285853-68j4mk69kkfrtlo4h5r1bqate0pi9ro2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879059285853-68j4mk69kkfrtlo4h5r1bqate0pi9ro2</string>
	<key>API_KEY</key>
	<string>AIzaSyBB_EQlU8gKxXde6AJv_Z4Kx_JQDKJUVkw</string>
	<key>GCM_SENDER_ID</key>
	<string>879059285853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eduha</string>
	<key>PROJECT_ID</key>
	<string>eduha-4553f</string>
	<key>STORAGE_BUCKET</key>
	<string>eduha-4553f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879059285853:ios:5d8387d202042bb59edab4</string>
</dict>
</plist>